<!DOCTYPE html>
<html>
<head>
	<title>Student Data</title>
</head>
<body>
<h1><%= @emps.e_id %></h1>
<h2><%= @emps.name %></h2>
<h3><%= @emps.exp %></h3>
<h4><%= @emps.join_date %></h4>
<h5><%= @emps.status %></h5>

</body>
</html>