<%= simple_form_for(@empe) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :e_id %>
    <%= f.input :name %>
    <%= f.input :exp %>
    <%= f.input :join_date %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
